@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    font-family: $font-main;
    font-size: $font-size;
}

body {
    color: $color-gray;
    background-color: $color-white;
}

h1 {
    font-family: $font-header;
    text-align: center;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.078em;
    
    @media (min-width: $lg) {
        font-size: 3.75rem;
    }

    @media (max-width: ($lg - 0.2px)) and (min-width: $md){
        font-size: 2.5rem;
    }

    @media (max-width: ($md - 0.2px)) {
        font-size: 1.875rem;
    }
}

h2 {
    font-family: $font-header;
}

a {
    text-decoration: none;
    color: $color-white;
}