@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  display: grid;

  &__list {
    @include unlist;

    @include md-min {
      display: grid;
      justify-content: end;
      width: 100%;
      gap: $gap;
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    }

    @include md {
      display: none;
      position: absolute;
      right: $gap;
      top: 100%;
      text-align: right;
      background-color: rgba($color-gray-dark, 0.9);
      @include box-shadow;
    }
  }

  &__item {
    @include md-min {
      &:last-of-type {
        margin-right: -$gap-sm;
      }
    }

    @include md {
      margin: $gap $gap-sm;
    }
  }

  &__link {
    display: block;
    font-size: 1.125rem;
    letter-spacing: 0.09em;
    transition: color 0.3s;

    @include md-min {
      padding: $gap $gap-sm;
    }

    @include md {
      padding: $gap-sm;
    }

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }

  &__btn {
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: auto;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    @include md-min {
      display: none;
    }

    span {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $color-white;
      border-radius: 4px;
      opacity: 1;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 12px;
      }

      &:nth-child(3) {
        top: 24px;
      }
    }

    &.open {
      & span {
        &:nth-child(1) {
          top: 12px;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          left: -60px;
          opacity: 0;
        }

        &:nth-child(3) {
          top: 12px;
          transform: rotate(-135deg);
        }
      }
    }
  }
}